body {
    background-color: black;
    text-align: center;
    margin: auto;
}

.container {
    position: relative;
    top: 200px;
    color: white;
    display: flex;
    justify-content: center;
}

#currentName {
    padding: 15px;
    /* border-color: white; */
}

.row img {
    height: 100px;
    width: 100px;

}

#mainRow {
    border: dashed 1px white;
}

#mainRow img {
    opacity: 1;
}

#imageSection {
    width: 50%;
    border-right: 1px dotted white;
}
